/*------------------------------Colors--------------------------*/
:root {
  --primario: #002038;
  --secundario: #c9daf1;
  --terciario: #92ace8;
}

/*------------------------------Google Fonts--------------------------*/

:root {
  --font-primaria: "Tektur", sans-serif;
  --font-secundaria: "Bebas Neue", sans-serif;
  --font-terciaria: "Montserrat", sans-serif;
}

/*------------------------------Google Icons--------------------------*/

.material-symbols-outlined {
  font-size: 6rem;
  margin-top: 2rem;
  color: var(--terciario);
  align-items: center;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}

/*------------------------Selector universal------------------------*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------Logo--------------------------*/

a img {
  max-width: 9rem; /* Establece el ancho máximo del logo */
  height: auto;
  width: auto;
  padding-top: 0.7rem;
  padding-left: 2rem;
}

/*------------------------------Navegacion--------------------------*/

.navegacion {
  text-align: center;
  background-color: var(--primario);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

a {
  color: var(--secundario);
  text-decoration: none;
  font-family: var(--font-primaria);
  font-size: 1.3rem;
}

div img {
  max-width: 5 rem;
  height: auto;
  width: auto;
  align-items: center;
}

nav a:hover {
  color: var(--terciario);
}

/*------------------------------Body--------------------------*/

html body {
  background-image: url(../img/background_circuits.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*------------------------------Fonts--------------------------*/

.noticias h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: var(--font-secundaria);
  margin: 2rem;
}

.noticias p {
  font-size: 1.5rem;
  font-family: var(--font-terciaria);
  margin: 1rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

/*------------------------------Main--------------------------*/
.contenedor-main {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  margin-top: 5rem;
  margin-left: -1.1rem;
}
.img-background {
  display: grid;
  position: absolute;
  width: 100%;
  height: 80%;
  z-index: 1;
  padding-top: 18rem;
}

.noticias {
  background-color: var(--secundario);
  width: 80%;
  height: 160%;
  margin-top: 8rem;
  margin-left: 6rem;
  z-index: 2;
  opacity: 0.8;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.button {
  background-color: var(--secundario);
  color: white;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;

  font-weight: bold;
  font-family: var(--font-terciaria);
  width: 10rem;
  height: 2rem;
  text-align: start;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.noticias button {
  margin-left: 1rem;
}

.button:hover {
  background-color: var(--terciario);
  color: var(--primario);
}
.img-cpu {
  z-index: 3;
  padding-bottom: 6rem;
  padding-left: 1.6rem;
  height: 80%;
  width: 80%;
  margin-left: -7.6rem;
}

/*------------------------------Iconos--------------------------*/

.contenedor-icons {
  display: flex;
  background-color: white;
  justify-content: space-between;
  margin-top: 2rem;
  width: auto;
  height: 15rem;
  text-align: center;
  align-items: center;
}

.contenedor-icons a h2 {
  justify-content: space-evenly;
  padding-left: 2rem;
  color: var(--primario);
  text-decoration: none;
  font-family: var(--font-terciaria);
  font-size: 1.5rem;
}
