/*Colores*/
:root {
  --primario: #002038;
  --secundario: #c9daf1;
  --terciario: #92ace8;
}

/*Fonts*/

:root {
  --font-primaria: "Tektur", sans-serif;
  --font-secundaria: "Roboto", sans-serif;
  --font-terciaria: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  /*Selector universal*/
  box-sizing: inherit;
}

/*logo*/

a img {
  max-width: 9rem; /* Establece el ancho máximo del logo */
  height: auto;
  width: auto;
  padding-top: 0.7rem;
  padding-left: 2rem;
}

/*Navegacion*/

.navegacion {
  text-align: center;
  background-color: var(--primario);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

a {
  color: var(--secundario);
  text-decoration: none;
  font-family: var(--font-primaria);
  font-size: 1.5rem;
}

div img {
  max-width: 5 rem;
  height: auto;
  width: auto;
  align-items: center;
}

nav a:hover {
  color: var(--terciario);
}
