/* /*------------------------------Colors--------------------------*/
:root {
  --colorPrimario: #002038;
  --colorSecundario: #c9daf1;
  --colorTerciario: #92ace8;
}

/*------------------------------Google Fonts--------------------------*/

:root {
  --font-primaria: "Tektur", sans-serif;
  --font-secundaria: "Bebas Neue", sans-serif;
  --font-terciaria: "Montserrat", sans-serif;
}

/*------------------------Selector universal------------------------*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales*/

a {
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--font-terciaria);
}

p {
  font-family: var(--font-terciaria);
  font-size: 1.6rem;
}

h1 {
  font-family: var(--font-primaria);
  font-size: 4rem;
}

h2 {
  font-family: var(--font-secundaria);
  font-size: 3.5rem;
}

h3 {
  font-family: var(--font-terciaria);
  font-size: 2.2rem;
}

h4 {
  font-family: var(--font-terciaria);
  font-size: 2rem;
}
/*------------------------------Body--------------------------*/

html body {
  background-image: url(../img/background_circuits.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*------------------------------Globales--------------------------*/

.contenedor {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  background-color: var(--colorPrimario);
}

.logo {
  display: flex;
  height: 12rem;
  margin: 0;
  padding: 0;
}

.navegacion {
  display: flex;
  background-color: var(--colorPrimario);
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: auto auto;   
}

.navegacion a {
  color: var(--colorSecundario);
  text-decoration: none;
  font-family: var(--font-primaria);
  font-size: 2rem;
}

.navegacion a:hover {
  color: var(--colorTerciario);
  text-decoration: solid;
  font-size: 2.1rem;
}

.user {
  font-family: var(--font-primaria);
  font-size: 1.4rem;
  padding-left: 10rem;
}
